.kanji-furigana-display {
  line-height: 2;
  font-size: 1.2em;
}

.kanji-container {
  position: relative;
  display: inline-block;
  margin: 0 0.2em;
}

.furigana {
  position: absolute;
  top: -1em;
  left: 0;
  font-size: 0.5em;
  color: #666;
  width: 100%;
  text-align: center;
}

.kanji {
  display: block;
  text-align: center;
}
